.main-fitness-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.fitness-container {
    padding-top: 40px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}